body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #535670;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

nav {
    background: #31323f;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}

nav a:hover {
    text-decoration: underline;
}

.main {
    padding: 20px;
    background: white;
    margin-top: 20px;
}

.main h2 {
    color: #7379d4;
}

.content {
    display: flex;
    align-items: flex-start;
}

.reference-img {
    max-width: 150px;
    margin-right: 20px;
}

.description {
    flex: 1;
}

.main p {
    line-height: 1.6;
    margin-bottom: 10px; /* Añadido para separar los párrafos */
}

.main ul {
    margin-bottom: 10px; /* Añadido para separar la lista */
}

.main a {
    color: #007BFF;
    text-decoration: none;
}

.main a:hover {
    text-decoration: underline;
}

footer {
    background: #535670;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
